body{
    font-family: sans-serif;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    background-color: rgb(55, 111, 216);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: yellow;
}

@media (max-width: 600px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}